.footer {
    background-color: rgb(43,64,75);
   padding: 35px;  
    margin-top: 80px;
    margin-left:-210px;

}
.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 3px;
}
.footer a {
    text-decoration: none;
    transition: all .3s;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer a, .footer li {
    color: #c8c8c8;
}
.footer-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
.conteiner{
    margin-top: 100px;
}
.footer-bar {
    margin-top: 15px;
    max-width: 200px;
    max-height: 200px;
}
hr {
    border: none; 
    background-color: rgb(255, 255, 255); 
    height: 1px; 
    max-width: 250px;
    
}
h1.h1 {
    font-size: 10px;
    color: white;
    opacity: 0.5;
    text-align: center;
    font-family: Cold Turkey;
}
.footer img.gos {
    margin-top: -5px;
}
body {
    font-family: Cold Turkey;
}