header {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  list-style-type: none;
}

.navbar {
  background-color: rgb(43,64,75);
}

.navbar-brand {
  max-width: 220px;
  max-height: 220px;
}

.nav-item a {
  color: rgb(213,195,190);
 
}
.nav-item a:hover {
  opacity: 0.7;
  color: rgb(213,195,190);
}


.container-audio p {
  position: absolute;
}
