input {
    display: inline-block;
    width:300px;
    height: 30px;

  }
  button {
    width: 130px;
    margin-top: 150px;
  }
  button.btn {  
    margin-left: 15px;
  }

  * {
  
    margin: auto;
}

li{
  list-style-type: none;
  margin-left: 800px;
}